<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>Person Demographics</title>
</head>

<body>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">Home</a>
	</nav>


	<div class="container mt-2">
		<div class="card card-body">
			<div class="alert alert-success">
				<strong>VIEW DEMOGRAPHIC DETAILS</strong>
			</div>


			<tr th:if="${users.empty}">
				<td colspan="2">No Records have been created</td>
			</tr>


			<div th:if="${!users.empty}">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">PPS Number</th>
							<th scope="col">DOB</th>
							<th scope="col">Mobile Phone</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.ppsNumber}"></td>
							<td th:text="${#dates.format(user.date, 'dd/MM/yyyy')}"></td>
							<td th:text="${user.phoneNumber}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a href="/signup" style="float: right;">Add a new user</a>
	</div>
</body>
</html>